.row {
    width: 100%;
    margin: 0 auto;
}

.lamp {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    margin: 3px;
    text-align: center;
}

.lamp.light {
    background-color: yellow;
}

.lamp.dark {
    background-color: gray;
}